<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<script type="module" src="/poetry/js/index.js"></script>
	<title>{{.Title}}: {{.Subtitle}}</title>
</head>

<body>
	<header>
		<h1>{{.Title}}</h1>
		<p>{{.Subtitle}} - {{.PoemID}}</p>
	</header>
	<main>
		<article>
			<h2>{{.Poem.Title}}</h2>
			{{range $i, $line := .Poem.Poem}}
			{{if $line}}<p id="line-{{$i}}">{{$line}}</p>{{else}}<br>{{end}}
			{{end}}
		</article>
	</main>
</body>

</html>