<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<script type="module" src="/poetry/js/list.js"></script>
	<title>{{.Title}}: {{.Subtitle}}</title>
</head>

<body>
	<header>
		<h1>{{.Title}}</h1>
		<p>{{.Subtitle}}</p>
	</header>
	<main>
		<section>
			{{range $i, $_ := .Poems}}
			<p id="{{.ID}}">
				<a href="/poetry/{{.ID}}">{{.Title}}</a>
			</p>
			<button id="{{.ID}}" class="delete">delete</button>
			<section>
				{{range $_, $c := .Categories}}
				<a id="category-{{$c.ID}}" href="/categories/{{$c.ID}}">{{$c.Name}}</a>
				{{end}}
			</section>
			<section>
				{{range $_, $line := slice .Poem 0 .SampleLength}}
				{{if $line}}<p id="line-{{$i}}">{{$line}}</p>{{else}}<br>{{end}}
				{{end}}
			</section>
			{{end}}
		</section>
	</main>
</body>

</html>