<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<script type="module" src="/poetry/js/list.js"></script>
		<title>{{.Title}}: {{.Subtitle}}</title>
	</head>

	<body>
		<main>
			<h1>{{.Title}}</h1>
			<p>{{.Subtitle}}</p>
		</main>
		<section>
			{{range $i, $_ := .Poems}}
			<p id="{{.ID}}">{{.Title}}</p>
			<button id="{{.ID}}" class="delete">delete</button>
			<section>
				{{range $_, $c := .Categories}}
				<a id="category-{{$c.ID}}" href="/categories/{{$c.ID}}">{{$c.Name}}</a>
				{{end}}
			</section>
			<section>
				{{range $_, $text := slice .Poem 0 .SampleLength}}
				<p>{{$text}}</p>
				{{end}}
			</section>
			{{end}}
		</section>
	</body>
</html>
