main {
	text-align: center;
}

form {
	display: grid;
	align-items: center;
	justify-content: center;
}

#submit {
	justify-self: end;
	width: min-content;
}

#post-request-success {
	display: flex;
	justify-content: center;
}
